<mat-toolbar color="primary">
  <span>Astronaut Career Tracking System (ACTS)</span>
  <hr />
  
</mat-toolbar>

<div class="main-body">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Mia" #input>
    <span class="example-spacer"></span>
    <button mat-raised-button>
      ADD EMPLOYEE
    </button>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="CurrentRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
        <td mat-cell *matCellDef="let row"> {{row.currentRank}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="CurrentDuty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duty </th>
        <td mat-cell *matCellDef="let row"> {{row.currentDuty}}</td>
      </ng-container>

      <ng-container matColumnDef="CareerStartDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Career Start Date </th>
        <td mat-cell *matCellDef="let row"> {{row.careerStartDate | date:'shortDate'}}</td>
      </ng-container>

      <ng-container matColumnDef="CareerEndDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Career End Date </th>
        <td mat-cell *matCellDef="let row"> {{row.careerEndDate | date:'shortDate' || 'Active'}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
